{
  "env": {
    "node": true
  },
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "globals": {
    "Promise": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true
  }
}
